:root {
    --deckgo-highlight-code-background: #282a36;
    --deckgo-highlight-code-color: #ffffff;
    --deckgo-highlight-code-atrule: #ff79c6;
    --deckgo-highlight-code-padding: 16px;
    --deckgo-highlight-code-border-radius: 4px;
}

a.anchor {
    opacity: 0;
    float: left;
    padding-right: 4px;
    margin-left: -20px;
}

*:hover>a.anchor,
a.anchor:hover {
    opacity: 1;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 20px;

    >.example {
        position: sticky;
        height: min-content;
        top: 0;
    }

}

>*:last-child {
    min-height: 100vh;

}